<h1>Users</h1>
<% @users.each do |u| %>
	<%= user_gravatar u %>
	<%= u.name %>
	<% if has_friend(u, current_user.id) %>
		<%= button_to 'Delete', friendship_path(id: u.id), method: :delete %>
	<% elsif has_friend(u, current_user.id, false) %>
		<%= button_to 'Cancel request', friendship_path(id: u.id), method: :delete %>
	<% else %>
		<%= button_to 'Add friend', friendships_path(id: u.id) if u.id != current_user.id %>
	<% end %>
	<br><br>
<% end %>
