<h1>Users</h1>
<% @users.each do |u| %>
	<div class="row">
		<div class="col-md-4" style="text-align: center;">
			<span><%= link_to image_tag("http://www.gravatar.com/avatar.php?gravatar_id=#{Digest::MD5::hexdigest(u.email)}", :alt => 'Avatar', :class => 'avatar'), user_path(id: u.id) %></span>
			<h5><%= link_to "#{u.name}", user_path(id: u.id) %></h5>
		</div>
		<div class="col-md-8">
			<% if !friendships_pending(u) && !inverse_friendships_pending(u) && !friends(u) %>
			  <%= button_to 'Add friend', friendships_path(id: u.id), class: "btn btn-primary" if u.id != current_user.id %>
			<% elsif friends(u) %>
				<%= button_to 'Delete friend', friendship_path(id: u.id), class: "btn btn-danger", method: :delete %>
			<% end %>
			<% if inverse_friendships_pending(u) %>
				<div class="row">
					<div >
						<%= button_to 'Accept', friendship_path(id: u.id), class: "btn btn-primary", method: :put %>
					</div>
					<div class="col-md-6">
						<%= button_to 'Reject', friendship_path(id: u.id), class: "btn btn-primary", method: :delete %>
					</div>
				</div>
			<% end %>
			<% if friendships_pending(u) %>
				<%= button_to 'Cancel request', friendship_path(id: u.id), class: "btn btn-secondary", method: :delete %>
			<% end %>
		</div>
	</div>
	<br>
<% end %>
