<h1>Users</h1>
<% @users.each do |u| %>
	<%= user_gravatar u %>
	<%= u.name %>
	<% if !friendships_pending(u) && !inverse_friendships_pending(u) && !friends(u) %>
		<%= button_to 'Add friend', friendships_path(id: u.id) if u.id != current_user.id %>
	<% elsif friends(u) %>
		<%= button_to 'Delete friend', friendship_path(id: u.id), method: :delete %>
	<% end %>

	<% if inverse_friendships_pending(u) %>
		<%= button_to 'Accept', friendship_path(id: u.id), method: :put %>
		<%= button_to 'Reject', friendship_path(id: u.id), method: :delete %>
	<% end %>

	<% if friendships_pending(u) %>
		<%= button_to 'Cancel request', friendship_path(id: u.id), method: :delete %>
	<% end %>

	<br>
	<br>
<% end %>
