<div class="row">
  <div class="col-md-4">
    <%= user_gravatar @user %>
    <h3><%= @user.name %></h3>
    <% if !friendships_pending(@user) && !inverse_friendships_pending(@user) && !friends(@user) %>
      <%= button_to 'Add friend', friendships_path(id: @user.id), class: "btn btn-primary" if @user.id != current_user.id %>
    <% elsif friends(@user) %>
      <%= button_to 'Delete friend', friendship_path(id: @user.id), class: "btn btn-danger", method: :delete %>
    <% end %>

    <% if inverse_friendships_pending(@user) %>
      <%= button_to 'Accept', friendship_path(id: @user.id), class: "btn btn-primary", method: :put %>
      <%= button_to 'Reject', friendship_path(id: @user.id), class: "btn btn-primary", method: :delete %>
    <% end %>

    <% if friendships_pending(@user) %>
      <%= button_to 'Cancel request', friendship_path(id: @user.id), class: "btn btn-secondary", method: :delete %>
    <% end %>
    <br>
  </div>

  <div class="col-md-8">
    <% if @user.id == current_user.id %>
      <% @post = Post.new %>
      <%= render 'posts/post_form' %>
    <% end %>
    <% if friends(@user) || current_user == @user %>
      <%= render 'posts/posts_list' %>
    <% end %>
  </div>
</div>