<h1>Post</h1>
<% author = User.find(@post.user_id) %>
<span><%= user_gravatar author %></span>
<p>Author: <%= author.name %></p>
<p>Post: </p>
<%= @post.body %><br><br>
<% if @post.user_id == current_user.id %>
	<%= link_to "update", edit_post_path(@post) %>
	<%= link_to "delete", @post, method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>
<br>
<hr>
<ul style="list-style: none;">
	<% @post.comments.each do |c| %>
		<% user = User.find(c.user_id) %>
		<li><span><%= user_gravatar user %></span>
	  <%= c.body %>
		<% if c.user_id == current_user.id %>
			<%= link_to "update", edit_post_comment_path(@post.id, c.id) %>
			<%= link_to "delete", c, method: :delete, data: { confirm: "Are you sure?" } %>
		<% end %>
	  <br></li>
	<% end %>
</ul>
<hr>
<%= render 'comments/new_comment' %>
<br>
<br>
